<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">   
  <targets>
    <target name="file" xsi:type="File" fileName="\\devserver5\Logs$\StandardWebProjectTemplate\Staging\log.log" archiveFileName="\\devserver5\Logs$\StandardWebProjectTemplate\Staging\log_${shortdate}_{#####}.log" layout="${longdate}:${message} ${exception:format=message,tostring:maxInnerExceptionLevel=10:innerFormat=message,tostring}" concurrentWrites="true" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="100" />
    <target name="console" xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="NHibernate" minlevel="Error" writeTo="file" />    
  </rules>
</nlog>