# Build and Object Folders
bin/
obj/
Obj/

#User Specific Files
*.user
*.suo
*.userprefs
*.pidb


#Resource Caches
_ReSharper.*
*.sln.cache
logs/

#Nuget
packages/**
!packages/repositories.config

#vim
*~
*.swp

#unit tests
TestResults
test-results

/UpgradeLog.XML
/UpgradeLog.htm
