@model DevBridge.Templates.WebProject.Web.Logic.Models.Presentation.LoginViewModel

<form>
    <h3>Login</h3>
    <div>
        @Html.TextBoxFor(m => m.UserName)
    </div>
    <div>
        @Html.PasswordFor(m => m.Password)
    </div>
</form>
